{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "importOrder": ["^@nestjs/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
