{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 4,
  "importOrder": ["^@nestjs/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
